:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 30, 30, 30;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background-image: linear-gradient(rgba(13, 17, 23, 0.85), rgba(13, 17, 23, 0.85)), url("/assets/background-image.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  word-wrap:break-word;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Monocraft", "Mabry Pro", "Gotham Bold", "Spline Sans", "Helvetica Neue", "Google Sans", "Work Sans", Arial, sans-serif;
  font-weight: 700;
  letter-spacing:1pt
}

.title-font {
  font-family: "Monocraft", "Mabry Pro", "Gotham Bold", "Spline Sans", "Helvetica Neue", "Google Sans", "Work Sans", Arial, sans-serif;
  letter-spacing:1pt
}

.link-title {
  font-family: "Monocraft", "Mabry Pro", "Gotham Bold", "Spline Sans", "Helvetica Neue", "Google Sans", "Work Sans", Arial, sans-serif;
  letter-spacing: 2pt;
  color: #2f9ece;
  /* text-decoration: none; */
  font-size: 1rem;
}

.link-title:hover, .link-title:focus, .link-title:active {
  /* text-decoration: none; */
  color:rgba(27, 242, 211, 0.7)
}



body, h1, h2, h3, h4, h5, h6, p, blockquote, pre, hr, dl, dd, ol, ul, figure {
    margin: 0;
    padding:0
}

header h1, .page-heading {
  font-family: "Gotham Bold", "Monocraft", "Mabry Pro", "Ndot-55"
}

.title {
  font-family: 'Monocraft';
  font-size: 3rem;
  text-align: center;
  margin: 0;
  padding: 0;
}


h1, h2, h3, h4, h5, h6, p, blockquote, pre, ul, ol, dl, figure, .highlight {
  margin-bottom:15px
}

main {
  display:block;
  min-height: -webkit-calc(60vh);
}

@media (min-width: 768px) {
  main {
    padding: 0 2rem 2rem 2rem;
  }
}

@media (min-width: 1024px) {
  main {
    padding: 0 4rem 4rem 4rem;
  }
}

@media (min-width: 1280px) {
  main {
    padding: 0 6rem 6rem 6rem;
  }
}

@media (min-width: 1536px) {
  main {
    padding: 0 8rem 8rem 8rem;
  }
}

img {
  max-width: 100%;
  vertical-align:middle
}

figure > img {
  display:block
}

figcaption {
  font-size:11.375pt
}

ul, ol {
  margin-left: 30px;
  word-break:break-word
}

li > ul, li > ol {
  margin-bottom: 0;
  word-break:break-word
}

h1, h2, h3, h4, h5, h6 {
  font-weight:500
}

blockquote {
  color: #828282;
  padding-left: 15px;
  font-size: 14.625pt;
  letter-spacing: -1px;
  font-style:italic
}

blockquote > :last-child {
  margin-bottom:0
}

a {
    transition-duration: 0.15s;
    transition-property:color
}

a:hover, a:focus, a:active {
    color:rgba(27, 242, 211, 0.7)
}

/* .wrapper { */
/*   max-width: -webkit-calc(100ch -(30px * 2)); */
/*   max-width: calc(100ch -(30px * 2)); */
/*   margin-right: auto; */
/*   margin-left: auto; */
/*   padding-right: 30px; */
/*   padding-left:30px */
/* } */
/**/
